# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
logs/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
.data/

# Prisma
prisma/*.db
prisma/*.db-journal

# Test
coverage/

# Docker
docker-compose.yml
docker-compose.override.yml
Dockerfile